*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: url(OIP.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.btn{
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 30px;
  border: 2px solid;
  bottom: 0px;
  background: linear-gradient(45deg, #8ffcf0, #635bfc);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin: 40px 8px;
}
.btn:hover{
  color: #fff;
  background-color: #8fcff0;
}
.content{
  text-align: center;
  margin-top: 12%;
}
.content h1{
  font-size: 80px;
  color: white;
}
